* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

/* REGOLE GENERALI */
li {
  list-style-type: none;
}



/* HEADER */
header {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.sezione-header {
  width: 1280px;
  display: flex;
  justify-content: space-between;
}

.container-logo {
  padding: 30px 0px;
}


.container-link {
  padding: 70px 0px;
}

.container-link li {
  display: inline;
  margin-right: 20px;
  font-weight: 700;
  cursor: pointer;
}

.container-link li:hover {
  color: #0E82F9;
  cursor: pointer;
}


/* MAIN */