* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}



/****************************************************
REGOLE GENERALI
*****************************************************/
li {
  list-style-type: none;
}



/****************************************************
HEADER
*****************************************************/
.container-header {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0px;
}

.container-link ul {
  display: flex;
}

.container-link li {
  margin-right: 20px;
}

.container-link li a {
  text-decoration: none;
  color: black;
  font-weight: 700;
  cursor: pointer;
  transition: 0.4s ease;
}

.container-link li a:hover {
  color: #0E82F9;
}



/****************************************************
MAIN
*****************************************************/
.jumbotron {
  height: 400px;
  background-image: url(../src/assets/img/jumbotron.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}


/* CONTENUTO PRINCIPALE */
.content-black {
  background: #1C1C1C;
  color: white;
  padding: 50px 0;
  margin: 0 auto;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

.container-card {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  gap: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  width: calc((100% / 6) - (100px / 6));
  cursor: pointer;
  transition: 0.4s ease;
}

.card:hover {
  transform: scale(1.10);
}

.card img {
  max-width: 200px;
  max-height: 300px;
}

.tasto-load {
  border: 0px;
  background-color: #0E82F9;
  color: white;
  font-weight: 700;
  padding: 10px 70px;
  margin-top: 40px;
  cursor: pointer;
  transition: 0.4s ease;
}

.tasto-load:hover {
  transform: scale(1.10);
}


/* CONTENUTO DELLA RIGA BLU */
.content-blu {
  background: #0E82F9;
  color: white;
  padding: 40px 0;
}

.lista-merc {
  display: flex;
  justify-content: space-around;
  padding: 0px 30px;
}

.lista-merc li {
  cursor: pointer;
  color: white;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 17px;
  transition: 0.4s ease;
}

.lista-merc img {
  height: 70px;
}

.lista-merc li:hover {
  transform: scale(1.10);
}

/****************************************************
FOOTER
*****************************************************/
.content-img {
  background-image: url(../src/assets/img/footer-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.container-foot {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
}

.footer-list {
  color: #959595;
  margin-right: 30px;
  padding: 40px 0;
  font-size: 13px;
  cursor: pointer;
}

.title-list {
  color: white;
  font-size: 20px;
  font-weight: 700;
  padding: 10px 0;
}

.container-foot li:hover {
  color: white;
}

/* PARTE FINALE DEI LINK */
.footer {
  background-color: #303030;
}

.footer-link {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 0;
}

.tasto-sign a {
  border: 3px solid;
  border-color: #0E82F9;
  background-color: #303030;
  padding: 20px;
  font-weight: 700;
  color: white;
  text-decoration: none;
}

.social ul {
  display: flex;
  align-items: center;
}

.social li {
  margin-left: 10px;
  font-size: 20px;
  font-weight: 700;
  color: #0E82F9;
  cursor: pointer;
}